<connectionStrings>
  <add name ="eToolsDB" connectionString="Data Source=.;Initial Catalog=eTools;Integrated Security=true" providerName="System.Data.SqlClient"/>

  <add name="DefaultConnection"
  connectionString="Data Source=.;Initial Catalog=eTools;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>
  <!--<add name="DefaultConnection"
  connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-eToolsWebsite-52a579f4-1d71-4daa-b57e-78973d61aef0;AttachDbFilename=|DataDirectory|\aspnet-eToolsWebsite-52a579f4-1d71-4daa-b57e-78973d61aef0.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient"/>-->
</connectionStrings>
